body{
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(background.jpg);
	background-size: cover;
}
.box{
	border: 1px solid black;
	height: 50px;
}
.box h1{
	color: white;
	margin-left: 700px;
}